$box1-background: #16161a;
$box1-border: #fffffe;
$box1-highlight: #7f5af0;
$box1-paragraph: #94a1b2;
$box2-background: #242629;
$box2-border: #010101;
$box2-highlight: #2cb67d;
$box2-paragraph: #94a1b2;
