$box1-background: #0f0e17;
$box1-border: #fffffe;
$box1-highlight: #ff8906;
$box1-paragraph: #a7a9be;
$box2-background: #fffffe;
$box2-border: #0f0e17;
$box2-highlight: #f25f4c;
$box2-paragraph: #0f0e17;
